.small {
  font-size: 12px;
}
a.rowlink {
  color: inherit;
  text-decoration: none;
}
.scroll-x {
  overflow-x: auto;
}
.h2row {
  display: flex;
  align-items: center;
  gap: 12px;
}
.h2row h2 {
  flex: 1;
}
